doctype html
html
  head
      title= title || "Airport Management"
      block scripts

  body
      header
        h1.center
            a(href="/")= "Airport Management"

      main
        block content

      footer.center
        p.copyright &copy; #{(new Date()).getFullYear()} Airport Management Inc.
