extends ../layout

block scripts
    link(rel='stylesheet', href='/static/css/bootstrap.min.css')
    link(rel='stylesheet', href='/static/css/styles.css')

block content
    figure.center
        figcaption= 'All Airports'
        table(class="table table-bordered")
            tr
                th Airport Code
                th Airport Number
                console.log(categories)
            each c in categories
                tr
                    td= c.airport_code
                    td= c.airport_phonenumber

    figure.center
        figcaption= 'Create Airport'
        form(action="/create" method="POST" class="form-create-category")
            label(for="airport_code_create") Airport Code (required):
            input(
                type="text"
                id="airport_code_create"
                name="airport_code"
                class="form-control"
                required
                minLength="3"
            )
            label(for="airport_Phone_create") Airport Phone Number (required):
            input(
                type="text"
                id="airport_Phone_create"
                name="airport_phonenumber"
                class="form-control"
                required
                minLength="3"
            )

            input(
                type="submit"
                value="Create"
                class="btn btn-lg btn-primary btn-block"
            )
