extends ../layout

block scripts
    link(rel='stylesheet', href='/static/css/bootstrap.min.css')
    link(rel='stylesheet', href='/static/css/styles.css')

block content
    figure.center
        figcaption= 'All Airports'
        table(class="table table-bordered")
            tr
                th Airport Code
                th Airport Number

            each c in categories
                tr
                    td= c.airport_code
                    td= c.airport_phonenumber


    figure.center
        figcaption= "Delete Airports"
        form(action="/delete" method="POST" class="form-create-category")
            label(for="category_id_delete") Category to delete:
            select(id="category_id_delete" name="id" class="form-control")
                each c in categories
                    option(value=c._id)= c.airport_code

            input(
                type="submit"
                value="Delete"
                class="btn btn-lg btn-primary btn-block"
            )