extends ../layout

block scripts
    link(rel='stylesheet', href='/static/css/bootstrap.min.css')
    link(rel='stylesheet', href='/static/css/styles.css')

block content
    figure.center
        figcaption= 'Forms'
        table(class="table table-bordered")

            tr
                td.center
                    a(href = "/create") Create Airport
            tr
                td.center
                    a(href = "/update") Update Airport
            tr
                td.center
                    a(href = "/delete") Delete Airport