extends ../layout

block scripts
    link(rel='stylesheet', href='/static/css/bootstrap.min.css')
    link(rel='stylesheet', href='/static/css/styles.css')

block content
    figure.center
        figcaption= 'All Airports'
        table(class="table table-bordered")
            tr
                th Airport Code
                th Airport Number

            each c in categories
                tr
                    td= c.airport_code
                    td= c.airport_phonenumber

    figure.center
        figcaption= "Update Airports"
        form(action="/update" method="POST" class="form-create-category")
            label(for="category_id_update") Airport to update:
            select(id="category_id_update" name="id" class="form-control")
                each c in categories
                    option(value=c._id)= c.airport_code

            label(for="airport_code_update") Airport Code (required):
            input(
                type="text"
                id="airport_code_update"
                name="airport_code"
                class="form-control"
                required
                minLength="3"
            )
            label(for="airport_number_update") Airport Phone Number (required):
                input(
                    type="text"
                    id="airport_number_update"
                    name="airport_phonenumber"
                    class="form-control"
                    required
                    minLength="3"
                )

            input(
                type="submit"
                value="Update"
                class="btn btn-lg btn-primary btn-block"
            )
